@import url(__link/root__link.css);

.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}